<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEE Percentile Calculator</title>

    <!-- default css -->
    <link id="theme-style" rel="stylesheet" href="light.css">

    <!-- js file -->
    <script src="theme.js"></script>
</head>

<body id="body">

    <!-- theme button -->
    <button onclick="changeTheme()">Switch Theme</button>

    <div class="container">

        <h2>JEE Marks vs Rank vs Percentile</h2>

        <p>Enter your marks below 👇</p>

        <hr>

        <h3>Subjects</h3>
        <form action="result.html">

    <label>Physics</label>
    <input type="number">

    <label>Chemistry</label>
    <input type="number">

    <label>Maths</label>
    <input type="number">

    <label>Paper Difficulty</label>
    <select>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
    </select>

    <button type="submit">Submit</button>

</form>



    </div>

</body>
</html>


    